@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Courgette&display=swap);


body {
  font-family: 'Open Sans', sans-serif;
}

* {
  box-sizing: border-box;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  padding-bottom: 15px;
}

.header {
  overflow:auto;
  padding-top: 10px;
  font-family: 'Courgette', cursive;
}

.header img,h1 {
float: left;
}

.header h1 {
  padding-left: 25%;
  padding-top: 1em;
}

.col-sm-4 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

